<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JCortica_RPRO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <JCortica_RPRO.Properties.Settings>
            <setting name="Cliente" serializeAs="String">
                <value>Cliente</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>IHM</value>
            </setting>
            <setting name="TempLimit" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Senha" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="PathMySql" serializeAs="String">
                <value>C:\Program Files\MySQL\MySQL Server 5.6\bin</value>
            </setting>
            <setting name="PathDump" serializeAs="String">
                <value>C:\RPRO\RPRO-Prod\BancoCSV\</value>
            </setting>
            <setting name="PathCSV" serializeAs="String">
                <value>C:\RPRO\RPRO-Prod\BancoCSV\</value>
            </setting>
            <setting name="NomeCSV" serializeAs="String">
                <value>Relatorio_1.csv</value>
            </setting>
            <setting name="BatDump" serializeAs="String">
                <value>C:\Users\maqui\Pictures\Leonardo\JCortica RPRO - PV1400\Arquivos Importantes</value>
            </setting>
            <setting name="Caminho" serializeAs="String">
                <value />
            </setting>
            <setting name="DadosAno" serializeAs="String">
                <value>2020</value>
            </setting>
            <setting name="DadosMes" serializeAs="String">
                <value>01</value>
            </setting>
            <setting name="Combo1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Combo2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SenhaFTP" serializeAs="String">
                <value />
            </setting>
            <setting name="UserFTP" serializeAs="String">
                <value>anonymous</value>
            </setting>
            <setting name="MetodoMesCSV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormulaCSV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NomeImpressora" serializeAs="String">
                <value>Zebra</value>
            </setting>
            <setting name="TipoImpressora" serializeAs="String">
                <value>Local</value>
            </setting>
            <setting name="NomeComputador" serializeAs="String">
                <value />
            </setting>
            <setting name="EscuridaoEtiqueta" serializeAs="String">
                <value>30</value>
            </setting>
        </JCortica_RPRO.Properties.Settings>
    </userSettings>
</configuration>
